Repository niklas-hoeller/GitLab-CI-CD-Example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, unit-test-backend, integration-test-backend, package-backend, deploy-backend, build-frontend, test-frontend, package-frontend, deploy-frontend

build-backend:
  image: maven:3.9.4-eclipse-temurin-17
  stage: build
  script:
  - cd backend
  - mvn clean compile $MAVEN_CLI_OPTS
  cache:
    key:
      files:
      - backend/pom.xml
    paths:
    - backend/.m2/repository
    - backend/target/classes/
    policy: pull-push

unit-test-backend:
  image: maven:3.9.4-eclipse-temurin-17
  stage: test
  script:
  - cd backend
  - mvn test $MAVEN_CLI_OPTS
  needs:
  - build-backend
  artifacts:
    paths:
    - backend/target/site/jacoco/
  cache:
    key:
      files:
      - backend/pom.xml
    paths:
    - backend/.m2/repository
    - backend/target/classes/
    policy: pull

integration-test-backend:
  image: maven:3.9.4-eclipse-temurin-17
  stage: test
  script:
  - cd backend
  - mvn failsafe:integration-test $MAVEN_CLI_OPTS
  needs:
  - build-backend
  cache:
    key:
      files:
      - backend/pom.xml
    paths:
    - backend/.m2/repository
    - backend/target/classes/
    policy: pull

package-backend:
  image: maven:3.9.4-eclipse-temurin-17
  stage: package
  script:
  - cd backend
  - mvn package $MAVEN_CLI_OPTS -DskipTests
  needs:
  - unit-test-backend
  - integration-test-backend
  artifacts:
    paths:
    - backend/target/*.jar
  cache:
    key:
      files:
      - backend/pom.xml
    paths:
    - backend/.m2/repository
  ...

deploy-backend:
  tags:
  - ptj-spf4
  stage: deploy
  script:
  - cd backend
  - copy target\\*.jar C:\\simple-todo\\backend\\
  - Push-Location C:\Gitlab-Runner\Tools\winsw
  ...

build-frontend:
  image: registry.fz-juelich.de/ptj-spf4/ptj-spf-4-se/continuous-integration-example
  stage: build
  script:
  - cd frontend
  - npm ci
  cache:
    key:
      files:
      - frontend/package.json
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
    policy: pull-push

test-frontend:
  image: registry.fz-juelich.de/ptj-spf4/ptj-spf-4-se/continuous-integration-example
  stage: test
  script:
  - export DBUS_SESSION_BUS_ADDRESS=/dev/null
  - cd frontend
  - npm install
  - npx ng test --watch=false
  needs:
  - build-frontend
  cache:
    key:
      files:
      - frontend/package.json
  ...

package-frontend:
  image: registry.fz-juelich.de/ptj-spf4/ptj-spf-4-se/continuous-integration-example
  stage: package
  script:
  - cd frontend
  - npm install
  - npx ng build -c production
  needs:
  - test-frontend
  artifacts:
    paths:
    - frontend/dist/
  cache:
    key:
      files:
      - frontend/package.json
  ...

deploy-frontend:
  tags:
  - ptj-spf4
  stage: deploy
  script:
  - cd frontend
  - Remove-Item -Path "C:\\simple-todo\\frontend\\*" -Recurse -Force
  - Copy-Item -Path "dist\\*" -Destination "C:\\simple-todo\\frontend\\" -Recurse -Force
  - Push-Location C:\Gitlab-Runner\Tools\winsw
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

added code coverage reports with jacoco
  README.md
  backend/pom.xml
Due: build-backend, unit-test-backend, integration-test-backend, package-backend, deploy-backend, deploy-frontend

added code coverage reports with jacoco
  README.md
Due: none

added code coverage reports with jacoco
  README.md
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, test-frontend, package-frontend

added code coverage with karma
  frontend/karma.conf.js
Due: build-frontend, test-frontend, package-frontend

added back coverage badges
  README.md
Due: none

changes to gitignore
  .gitignore
Due: none

changes to README
  README.md
Due: none

Update todo.component.scss
  frontend/src/app/todo/todo.component.scss
Due: build-frontend, test-frontend, package-frontend

Path conditions:
  build-backend: any of: backend/**/*
  unit-test-backend: any of: backend/**/*
  integration-test-backend: any of: backend/**/*
  package-backend: any of: backend/**/*
  deploy-backend: any of: backend/**/*
  build-frontend: any of: frontend/**/*
  test-frontend: any of: frontend/**/*
  package-frontend: any of: frontend/**/*
  deploy-frontend: any of: backend/**/*
